/* SCSS Framework boilerplate from Flask: https://github.com/kylelarkin/flask */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, select, input, textarea {
  color: #333; }

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #ccc; }

ins {
  background-color: #ccc;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  font-weight: bold; }

body {
  color: #555;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.4; }

a {
  color: #333; }
  a:hover, a:focus {
    color: #000; }
  a.reverse {
    color: #555; }
    a.reverse:hover, a.reverse:focus {
      color: #333; }
  nav a {
    text-decoration: none; }
    nav a:hover, nav a:active {
      text-decoration: none; }

h1 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.3; }

h2 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.3125em;
  line-height: 1.3; }

h3 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.3; }

h4 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.3; }

h5 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.3; }

h6 {
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.3; }

p {
  font-size: 1em;
  line-height: 1.4;
  margin: 0 0 1em 0; }

em, i {
  font-style: italic; }
  em strong, em b, i strong, i b {
    font-style: italic; }

strong, b {
  font-weight: bold; }
  strong em, strong i, b em, b i {
    font-weight: bold; }

ol {
  margin: 1em 0 1em 1.25em; }

ul {
  list-style: disc;
  margin: 1em 0 1em 1.1em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding-bottom: 0; }
    nav ul a {
      text-decoration: none; }

.page-header {
  margin: 60px 0 40px; }

#demo-table .filter-label {
  float: left;
  line-height: 2em;
  font-weight: 600;
  color: #999;
  font-style: italic; }
#demo-table .clear-filter {
  float: left; }
#demo-table .reactable-data tr td:first-child {
  width: 55%; }
#demo-table .reactable-data tr td:last-child {
  width: 15%; }
#demo-table .reactable-column-header th {
  cursor: pointer;
  text-transform: uppercase; }
  #demo-table .reactable-column-header th:hover, #demo-table .reactable-column-header th:active {
    color: #888; }
#demo-table .reactable-pagination a {
  display: inline-block;
  padding: 0.1em 0.55em 0.2em;
  background-color: #428bca;
  cursor: pointer;
  margin: 0.2em;
  color: white;
  border-radius: 4px; }
  #demo-table .reactable-pagination a:hover, #demo-table .reactable-pagination a:active {
    background-color: #5bc0de;
    text-decoration: none; }
  #demo-table .reactable-pagination a.reactable-current-page {
    background-color: #5bc0de;
    text-decoration: none;
    cursor: initial; }

header.body__header {
  margin-bottom: 0;
  background-color: #F37633;
  border-bottom: 0; }
  header.body__header:after {
    content: "";
    display: table;
    clear: both; }
  header.body__header a {
    color: white; }
    header.body__header a:hover, header.body__header a:active {
      background-color: #f2621b; }
  header.body__header .navbar-brand {
    font-size: 120%;
    position: relative;
    top: -1px;
    font-weight: 600; }

.inner {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 4%;
  padding-right: 4%; }
  .inner:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px)  {
    .inner {
      padding-left: 2%;
      padding-right: 2%; } }

footer.body__footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5; }
  footer.body__footer:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 580px)  { }
@media screen and (min-width: 768px)  { }
@media screen and (min-width: 1024px)  { }

/*# sourceMappingURL=screen.map */