header.body__header {
	@include clearfix;
	margin-bottom: 0;
	background-color: $orange;
	border-bottom: 0;

	a {
		color: white;

		&:hover, &:active {
			background-color: darken($orange, 5%);
		}
	}
	.navbar-brand {
		font-size: 120%;
		position: relative;
		top: -1px;
		font-weight: 600;
	}

	.inner {

	}
	nav.nav__primary {
		ul.menu {
			// Styles for ALL <li>'s and <a>'s
			li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
			// Styles for only TOP LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				& > a {
					&:hover, &:active {}
				}
			}
		}
		ul.sub-menu {
			// Styles for only CHILD LEVEL <li>'s and <a>'s
			& > li {
				&:hover, &:active {}
				a {
					&:hover, &:active {}
				}
			}
		}
		// Dropdown states
		ul.sub-menu {
			// @include trans-fade-hidden;
		}
		ul.menu > li:hover ul.sub-menu {
			// @include trans-fade-visible;
		}
	}
}